*{
    margin: 0;
    padding: 0;
    box-sizing: order-box;
}

.first{
background-image: url(../img/bg-masthead.jpg);
background-size: cover;
background-position: center;
text-align: center;
background-repeat: no-repeat;
padding: 400px;}

.first h1{
    font-size: 60px;
    color: white;
    margin:auto; 
    

}
.first h5{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;

}

.btn1{
    padding: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #f4623a;
    border-radius: 30px;
    margin: auto;

}
.third h2{
    font-size: 36px;
    margin: bottom;
    color: white;
    padding: 200px;

}
.form-third {
    margin: 0;
    width: 100%;
    padding: 128px 0px;
    background-color:#f4623a;
    height: 600px;
    text-align: center;
    border: 1px;

}
.form-fourth{
    margin: center;
    width: 100;
    padding: 50px;
    background-color:#fff;
    height: 600px;
    text-align: center;
    border: 1px;
    
}
.third h5{
    font-size: 20px;
    margin-bottom: 20px;
    color:#fff;
    
}
.btn2{
    padding: 18px;
    text-decoration: none;
    margin: 0px;
    color: #000;
    background-color: #fff;
    border-radius: 30px;

}


.btn3{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #f4623a;
    border-radius: 30px;
    text-align: center;
}
input{
    text-align: center;
    width: 40%;
    padding: 20px;
    margin: 20px;
}
.fourth{
    text-align: center;
}
.fourth h1{
    text-align:center ;
    color: #212529;

}
.fourth h5{
    color:#212529;

}